html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4, .title {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    margin: 0;
}

.subtitle {
    font-family: "expo-serif-pro", serif;
    color: #292929;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    color: #ff544e;
}

.ptb-96 {
    padding: 96px 0;
}

.ptb-32 {
    padding: 32px 0;
}

.ptb-40 {
    padding: 40px 0;
}

.grey-back-color {
    background-color: #f4f4ef;
}

.red-light-back-color {
    background-color: #ff544e;
}

.red-light-color {
    color: #ff544e;
}

.black-light-color {
    color: #000;
}

.caps {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
}

.is-split-50-50 {
    padding: 40px 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f4f4ef), color-stop(50%, #ff544e));
    background: linear-gradient(-90deg, #f4f4ef 50%, #ff544e 50%);
    background-repeat: no-repeat;
    overflow: hidden;
    /* position: relative; */
}

.name-container {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    transform: rotate(90deg);
    transform-origin: 0 0;
    z-index: 5;
    white-space: nowrap;
}

.vertical_dotted_line {
    border-left: 2px dotted #444;
    height: 84px;
}

#hobbiesBack {
    height: 562px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/csgo.jpg) center;
    background-size: cover;
}

.designer {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    clear: both;
    max-width: 50%;
    height: 600px;
}

.coder {
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 10;
    clear: both;
    max-width: 50%;
    height: 600px;
}

.tog-img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.designer-img {
    position: absolute;
    left: 1px;
    top: 0px;
    z-index: -1;
    opacity: 0;
}

.coder-img {
    position: absolute;
    left: -1px;
    top: 0px;
    z-index: -1;
    opacity: 0;
}

.img-hover-zoom {
    height: 300px;
    /* [1.1] Set it as per your need */
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
    transition: transform .5s ease;
    filter: grayscale(100%);
    filter: blur(1px);
}

.img-hover-zoom:hover img {
    -ms-transform: scale(1.1) translateY(-5%);
    -webkit-transform: scale(1.1) translateY(-5%);
    transform: scale(1.1) translateY(-5%);
    filter: grayscale(0);
    filter: blur(0);
}